apiVersion: v1
kind: Service
metadata:
  name: web-svc
  namespace: project_infra
spec:
  type: NodePort
  selector:
    app: web
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30080
