name: CD Deploy to EC2 (k3s)

on:
  push:
      branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            set -e
            cd ~/project_infra
            git pull
            kubectl apply -f k3s/namespace.yml
            kubectl apply -f k3s/deployment.yml
            kubectl apply -f k3s/service.yml
            kubectl -n project-infra rollout status deploy/web --timeout=120s
            kubectl -n project-infra get pods
            kubectl -n project-infra get svc
