name: Docker CI

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Debug - show workspace files
        run: |
          echo "PWD=$(pwd)"
          ls -al
          echo "---- find Dockerfile ----"
          find . -maxdepth 2 -name "Dockerfile" -print

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t deokjeon/project_infra:latest .

      - name: Push Docker image
        run: |
          docker push deokjeon/project_infra:latest
