name: build-and-push

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image (latest + sha)
        run: |
          docker build \
            -t deokjeon/project_infra:latest \
            -t deokjeon/project_infra:${GITHUB_SHA} \
            .

      - name: Push Docker image (latest + sha)
        run: |
          docker push deokjeon/project_infra:latest
          docker push deokjeon/project_infra:${GITHUB_SHA}

